<head>
  <title>lab</title>
</head>

<body>
  <h1>Курсовая работа по вычислительным системам</h1>
  <div class="container">
    {{> curse_work}}
  </div>
</body>

<template name="curse_work">
  <div class="row">
    <div class="col-sm-6 col-xs-6">
      <h3>Исходный граф: </h3>
      <div id="graph" class="graph">
      </div>
    </div>
    <div class="col-sm-6 col-xs-6">
      <div id="threads" class="threads">
        <h3>Нити: </h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>Index</td>
              <td>Thread</td>
              <td>Weight</td>
              <td>Begin</td>
              <td>End</td>
            </tr>
          </thead>
          <tbody>
            {{#each threads}}
              <tr>
                <td>
                  {{index}}
                </td>
                <td>
                  {{way}}
                </td>
                <td>
                  {{value}}
                </td>
                <td>
                  {{begin}}
                </td>
                <td>
                  {{end}}
                </td>
              </tr>
            {{/each}}  
          </tbody>
        </table>
      </div>
      <div id="packing_threads" class="threads">
        <h3>Компановка нитей: </h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>Thread</td>
              <td>Begin</td>
              <td>End</td>
              <td>Thread</td>
              <td>Begin</td>
              <td>End</td>
            </tr>
          </thead>
          <tbody>
            {{#each packing_threads}}
              <tr>
                {{#each this}}
                  <td>
                    {{thread}}
                  </td>
                  <td>
                    {{begin}}
                  </td>
                  <td>
                    {{end}}
                  </td>
                {{/each}}
              </tr>
            {{/each}}  
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="output">
  </div>

</template>
